config = {
	'db': {
		'host': 'localhost',
		'port': 27017
	},
	'memcached': {
		'host': '127.0.0.1',
		'port': 11211
	},
	'wikis': {
		'tf': {
			'api_url': r'http://wiki.tf2.com/w/api.php',
			'username': '',
			'password': '',
			'db_name': 'wiki-fi:tfwiki',
			'wiki_name': 'Official Team Fortress Wiki',
			'wiki_link': 'http://wiki.tf2.com',
			'creation_date': '30/06/2010',
			'expensive_users': ['WindBOT']
			},
		'portal': {
			'api_url': r'http://theportalwiki.com/w/api.php',
			'username': '',
			'password': '',
			'db_name': 'wiki-fi:portalwiki',
			'wiki_name': 'Portal Wiki',
			'wiki_link': 'http://theportalwiki.com',
			'creation_date': '20/04/2011',
			'expensive_users': []
			}
		}
}