body {
  padding-top: 70px;
}

.title {
  margin: 50px 0;
  text-align: center;
}

.title h1 {
  font-size: 100px;
  line-height: 1;
}

.title .lead {
  font-size: 24px;
  line-height: 1.25;
}

.btn-group-wrapper {
  text-align: center;
  padding-bottom: 60px;
}

.edits-toggle {
  padding-top: 20px;
}

.form-group-wrapper {
  text-align: center;
}

.error-box {
  width: 170px;
  margin: 0px auto;
  display: none;
}

#search-status {
  padding-left: 10px; 
  display: none;
}

.valid-username, .valid-page {
  color: green !important;
}

.invalid-username, .invalid-page {
  color: red !important;
}

.disabled-link {
  color: #444 !important;
}

#number-stats {
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}

.number-stats-tablerow {
  height: 120px;
}

#hour_columnchart_div, #day_columnchart_div {
  height: 400px;
}

#chart_div, #piechart_div, #distribution_piechart_div, #bubblechart_div, #word_cloud {
  height: 500px;
}

#bubblechart_div_large {
  height: 700px;
}

#username {
  height: 34px;
}

#number-stats-row {
  padding-bottom: 30px;
}

#value {
  font-size: 80px;
  text-align: left;
  font-weight: bold;
}

#value-list {
  font-size: 55px;
  text-align: left;
  font-weight: bold;
}

#value-list-row {
  line-height: normal;
}

#page-list-row {
  line-height: normal;
  font-size: 30px;
}

#value-list-row > span {
  font-size: 15px;
}
