body {
  padding-top: 90px;
}

.title {
  margin: 50px 0;
  text-align: center;
}

.title h1 {
  font-size: 100px;
  line-height: 1;
}

.title .lead {
  font-size: 24px;
  line-height: 1.25;
}

.btn-group-wrapper {
  text-align: center;
  padding-bottom: 60px;
}

.form-group-wrapper {
  text-align: center;
}

.error-box {
  width: 210px;
  margin: 0px auto;
  display: none;
}

#search-status {
  padding-left: 10px; 
  display: none;
}

.valid-username {
  color: green !important;
}

.invalid-username {
  color: red !important;
}

#number-stats {
  height: 300px;
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}

#total-edit-form {
  width: 50%;
  margin: 0px auto;
}

#chart_div {
  height: 500px;
}

#columnchart_div, #daycolumnchart_div {
  height: 400px;
}

#piechart_div, #bubblechart_div {
  height: 500px;
}

#username {
    height: 34px;
}

#number-stats-row {
  padding-bottom: 30px;
}

#value {
  font-size: 80px;
  text-align: left;
  font-weight: bold;
}
