body {
  padding-top: 90px
}

#number-stats {
  height: 300px;
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  line-height: 100%;
}

tr.number-stats-tablerow > td {
  padding-bottom: 50px;
}

#total-edit-form {
  width:50%;
  margin: 0px auto;
}

#chart_div {
  height: 500px;
}

#columnchart_div, #daycolumnchart_div {
  height: 400px;
}

#piechart_div, #bubblechart_div {
  height: 500px;
}

.username-form {
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 200px;

    margin: auto;
}

#loader {
  visibility:hidden;
}

#username {
    height: 34px;
}

div.btn-group[data-toggle=buttons-radio] input[type=radio] {
  display:    block;
  position:   absolute;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  opacity:    0;
}

#number-stats-row {
  padding-bottom: 50px;
}

#value {
  font-size: 80px;
  text-align: left;
  font-weight: bold;
}