<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki-Fi - About</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand pull-left" href="/">Wiki-Fi</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="#">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="page-header">
      <div class="offset1">
        <h1>About</h1>
      </div>
    </div>
    <div class="offset1">
      <p>Wiki-Fi is a tool that analyzes user activity on a wiki and produces graphs and metrics for display.</p>
         
      <p>Currently supported wikis include the <a href="http://wiki.teamfortress.com" target="_blank">Official Team Fortress Wiki</a>, the <a href="http://www.theportalwiki.com" target="_blank">Portal Wiki</a>, the <a href="http://www.dota2wiki.com" target="_blank">Dota2 Wiki</a>, and the <a href="http://www.combineoverwiki.net" target="_blank">Combine Overwiki</a>.
      </p>

      <p>Wiki-Fi makes use of the following software:
	    <ul>
	      <li><a href="http://www.python.org/" target="_blank">Python</a></li>
	      <li><a href="http://www.mongodb.org/" target="_blank">MongoDB</a></li>
	      <li><a href="hhttp://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></li>
	      <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
	      <li><a href="https://developers.google.com/chart/" target="_blank">Google Chart Tools</a></li>
        <li><a href="https://github.com/lucaong/jQCloud" target="_blank">jQCloud</a></li>
        <li><a href="https://github.com/rafBM/heading-anchors" target="_blank">Heading Anchors</a></li>
	    </ul>
          View the source code on <a href="https://github.com/Moussekateer/Wiki-Fi" target="_blank">GitHub</a>. 
      </p>

      <p>Written by <a href="http://steamcommunity.com/id/moussekateer/" target="_blank">Moussekateer</a>.</p>
    </div>

    <!-- Tracking -->
    <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
  </body>

</html>