<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki-Fi</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand pull-left" href="#">Wiki-Fi</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="title">
      <h1>Wiki-Fi</h1>
      <p class="lead">Pick a wiki and enter your username to view edit statistics and graphs</p>
    </div>

    <div class="btn-group-wrapper">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-large" value="combineoverwiki">Combine OverWiki</button>
        <button type="button" class="btn btn-large" value="dota2">Dota2 Wiki</button>
        <button type="button" class="btn btn-large active" value="tf">Official TF Wiki</button>
        <button type="button" class="btn btn-large" value="portal">Portal Wiki</button>
      </div>
    </div>

    <div class="form-group-wrapper">
      <form class="form-search">
        <input type="text" class="input-large" id="username" placeholder="Username" autocomplete="off">
        <button type="submit" class="btn btn-large btn-primary">Get Stats</button>
      </form>
    </div>

    <div class="alert alert-error error-box">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error</strong> invalid username or wiki
    </div>


    <script type="text/javascript">
      $(document).ready(function() {
        // show error box if user is redirected after entering url with invalid username or wiki
        if ("{{ error }}" == "True") {
          $('.error-box').show();
        }

        // populate array with valid wiki usernames for use in autosuggest in entry form
        var usernames = [];
        $.ajax({
          url: '/get_all_users',
          type: 'GET',
          success: function(data) {
            usernames = data;
            $('#username').typeahead({source: usernames}).focus();
            },
          fail: function(data) {
            console.log('fail');
            }
          });

        // on form submission check if username is valid for wiki selection and redirect. Else display error
        $('button[type=submit]').click(function () {
          var username = $('#username').val();
          var wiki = $('.btn-group button.active').val();
          var data = {username: username, wiki: wiki};
          $.ajax({
            url: '/is_valid_user',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function(data) {
              if (data){
                $('button[type=submit]').removeClass('btn-primary btn-danger').addClass('btn-success').html('Loading stats...');
                $('#loader').css('visibility','visible');

                window.location = "/stats?username=" + username + "&wiki=" + wiki;
              }
              else {
                $('button[type=submit]').removeClass('btn-primary').addClass('btn-danger').html('Invalid username');
                setTimeout(function() {
                  $('button[type=submit]').removeClass('btn-danger').addClass('btn-primary').html('Get Stats');
                }, 2000);
              }
            },
            fail: function(data) {
              console.log('fail');
            }
          });
          return false;
        });
      });
    </script>
  </body>

</html>