<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User statistics - {{ username }}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand pull-left" href="/">Wiki user stats</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-left">
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a data-target="#" href="{{ wiki_link }}/wiki/User:{{ username }}" target="_blank">User page</a></li>
                  <li><a data-target="#" href="{{ wiki_link }}/wiki/User_talk:{{ username }}" target="_blank">User talk page</a></li>
                  <li><a data-target="#" href="{{ wiki_link }}/wiki/Special:Contributions/{{ username }}" target="_blank">User contributions</a></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li id="tf"><a id="tf">Official TF Wiki</a></li>
              <li id="portal"><a id="portal">Portal Wiki</a></li>
              <li id="dota2"><a id="dota2">Dota2 Wiki</a></li>
              <li class="divider-vertical"></li>
              <form class="navbar-search username-search">
                <input type="text" class="search-query" id="username-entry" placeholder="Username">
              </form>
              <p class="navbar-text pull-left" id="search-status"></p>
            </ul>

            <ul class="nav pull-right">
              <li><a href="#">About</a></li>
              <li class="divider-vertical"></li>
              <p class="navbar-text pull-right" id="last-updated"></p>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="container-fluid" id="number-stats">
    <div class="row-fluid" id="number-stats-row">
      <div class="span6">
        <table class="table-condensed">
          <tr class="number-stats-tablerow">
            <td>Total edits:</td>
            <td id="value">{{charts_data['total_edit_count']}}</td>
          </tr>
          <tr class="number-stats-tablerow">
            <td>Largest number of edits in a day:</td>
            <td id="value">{{charts_data['largest_day_edit_count']}}</td>
          </tr>
          <tr class="number-stats-tablerow">
            <td>Longest edit streak:</td>
            <td id="value">{{charts_data['longest_edit_days_streak']}} days</td>
          </tr>
          <tr class="number-stats-tablerow">
            <td>Edits per day:</td>
            <td id="value-list">
              <ul class="unstyled">
                <li id="value-list-row">{{charts_data['edits_per_day_30days']}} <span>(last 30 days)</span></li>
                <li id="value-list-row">{{charts_data['edits_per_day']}} <span>(all time)</span></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="span6">
        <table class="table-condensed">
          <tr class="number-stats-tablerow">
            <td>Unique pages edited:</td>
            <td id="value">{{charts_data['distinct_pages_count']}}</td>
          </tr>
          <tr class="number-stats-tablerow">
            <td>Days since first edit:</td>
            <td id="value">{{charts_data['days_since_first_edit']}} days</td>
          </tr>
          <tr class="number-stats-tablerow">
            <td>Current edit streak:</td>
            <td id="value">{{charts_data['current_edit_days_streak']}} days</td>
          </tr>
          <tr class="number-stats-tablerow">
            <td>Activity:</td>
            <td id="value-list">
              <ul class="unstyled">
                <li id="value-list-row">{{charts_data['activity_percentage_30days']}}% <span>(last 30 days)</span></li>
                <li id="value-list-row">{{charts_data['activity_percentage']}}% <span>(all time)</span></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12"><h2>Edits timeline</h2></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10 offset1" id="chart_div"></div>
    </div>
  </div>

  <div class="row">
    <form class="container" id="total-edit-form">
      <label><input type="checkbox" onclick="javascript:toggleTotalEdits()" id="total-edit-toggle">Display cumulative edits</label>
    </form>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6"><h2>Edits by day</h2></div>
      <div class="span6"><h2>Edits by hour</h2></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6" id="daycolumnchart_div"></div>
      <div class="span6" id="columnchart_div"></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4"><h2>Edits by namespace</h2></div>
      <div class="span8"><h2>Edits by days & hours</h2></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4" id="piechart_div"></div>
      <div class="span8" id="bubblechart_div"></div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      var wiki = "{{ wiki }}";
      var username = "{{ username }}";

      // populate array with valid wiki usernames for use in autosuggest in entry form
      var usernames = [];
      $.ajax({
        url: '/get_wiki_users',
        type: 'POST',
        dataType: 'json',
        data: {wiki: '{{ wiki }}'},
        success: function(data) {
          usernames = data;
          $('#username-entry').typeahead({source: usernames});
          },
        fail: function(data) {
          console.log('fail');
          }
        });

        // get data last updated date and display
        $.ajax({
          url: '/get_last_updated',
          type: 'POST',
          dataType: 'json',
          data: {wiki: '{{ wiki }}'},
          success: function(data) {
            $('#last-updated').html('Last updated: ' + data);
          },
          fail: function(data) {
            console.log('fail');
          }
        });

        // add active class to wiki tab for wiki being viewed and disable tabs for which user does not exist
        var wikis = ['tf', 'portal', 'dota2'];
        $("li#{{ wiki }}").addClass('active');
          var data = {username: username};
          
          $.ajax({
            url: '/get_user_wikis',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function(userwikislist) {
              $.each(wikis, function(index, wiki) {
                if ("{{ wiki }}" == wiki) {
                  $('a#' + wiki).attr("href", "#");
                }
                else if ($.inArray(wiki, userwikislist) > -1) {
                  $('a#' + wiki).attr("href", "/stats?username=" + username + "&wiki=" + wiki);
                }
                else {
                  $('li#' + wiki + ' > a').addClass('disabled-link');
                }
              });
            }, 
            fail: function(data) {
              console.log('fail');
            }
          });

        // on form submission check if username is valid for current wiki and redirect. Else display error
        $(".username-search").on("submit", function() {
          var search_username = $('#username-entry').val();
          var data = {username: search_username, wiki: wiki};
          $.ajax({
            url: '/is_valid_user',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function(data) {
              if (data) {
                $('#search-status').removeClass('invalid-username').addClass('valid-username').html('Loading stats...').show();

                window.location = "/stats?username=" + search_username + "&wiki=" + wiki;
              }
              else {
                  $('#search-status').addClass('invalid-username').html('Invalid username').fadeIn();
                  setTimeout(function() {
                    $('#search-status').fadeOut();
                  }, 2000);
              }
            },
            fail: function(data) {
              console.log('fail');
            }
          });
          return false;
        });

      });
    </script>

    <!-- GRAPH SCRIPTS -->
    <script type="text/javascript">
      function toggleTotalEdits() {
        var checkbox = document.getElementById('total-edit-toggle');
        if (checkbox.checked) {
          edit_timeline_chart.showDataColumns(1);
        }
        else {
          edit_timeline_chart.hideDataColumns(1);
        }
      }
    </script>

    <script type="text/javascript">
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      var edit_timeline_chart;
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Edits');
        data.addColumn('number', 'Total edits');
        data.addColumn('string', 'Title');
        data.addColumn('string', 'Description');
        data.addRows([ {{ charts_data['edits_timeline_string']|safe }} ]);
        edit_timeline_chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        edit_timeline_chart.draw(data, {
          displayAnnotations: false,
          dateFormat: 'MMMM dd, yyyy'
        });
        edit_timeline_chart.hideDataColumns(1);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawPieChart);
      function drawPieChart() {
        var data = google.visualization.arrayToDataTable([
          ['Namespace', 'Edits'],
          {{ charts_data['namespace_piechart_string']|safe }}
        ]);

        var namespace_pie_chart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        namespace_pie_chart.draw(data, {
          chartArea: {top: 50}
        });
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawBubbleChart);
      function drawBubbleChart() {
        var data = google.visualization.arrayToDataTable([
          ['ID', 'Hour', 'Day', '', 'Edits'],
          {{ charts_data['hour_day_bubble_chart_string']|safe }}
        ]);

        var edits_bubble_chart = new google.visualization.BubbleChart(document.getElementById('bubblechart_div'));
        edits_bubble_chart.draw(data, {
          hAxis: {title: 'Hour', viewWindowMode: 'explicit', viewWindow: {min: -1, max: 24}, baseline: -2},
          vAxis: {title: 'Day', direction: -1, textPosition: 'none'},
          bubble: {textStyle: {color: 'none'}},
          sizeAxis: {minSize: 0},
          legend: {position: 'none'},
          chartArea: {top: 30}
        });
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawHourColumnChart);
      function drawHourColumnChart() {
        var data = google.visualization.arrayToDataTable([
          ['Hour', 'Edits'],
          {{ charts_data['hour_column_chart_string']|safe }}
        ]);

        var edit_hour_column_chart = new google.visualization.ColumnChart(document.getElementById('columnchart_div'));
        edit_hour_column_chart.draw(data, {
          hAxis: {title: 'Time'},
          vAxis: {title: 'Edits', minValue: 0},
          legend: {position: 'none'},
          colors: ['#66CC00'],
          chartArea: {top: 30}
        });
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawDayColumnChart);
      function drawDayColumnChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Edits'],
          {{ charts_data['day_column_chart_string']|safe }}
        ]);

        var edit_day_column_chart = new google.visualization.ColumnChart(document.getElementById('daycolumnchart_div'));
        edit_day_column_chart.draw(data, {
          hAxis: {title: 'Day'},
          vAxis: {title: 'Edits', minValue: 0},
          legend: {position: 'none'},
          colors: ['#66CC00'],
          chartArea: {top: 30}
        });
      }
    </script>
  </body>
</html>
